<div class="my-3">
    <h2>toArray</h2>
    <p>Collects all source emissions and emits them as an array when the source completes</p>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                   <strong> toArray(Usering take Operator)</strong>
                </div>
                <div class="card-body">
                   [ {{arrData}} ]
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">
                   <strong> toArray(Usering from Operator)</strong>
                </div>
                <div class="card-body">
                    {{toarrayData}} 
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">
                   <strong> toArray(Usering of Operator)</strong>
                </div>
                <div class="card-body">
                    {{toarrayUsingOfData}} 
                </div>
            </div>
        </div>

    </div>
</div>