<div class="my-3">
    <h2>from Operator</h2>
    <p>Converts the array, promise, string to an observable sequence</p>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    From using Array [1,2,3,'anand',16,"shukla"]
                </div>
                <div class="card-body">
                    <ul id="elContainer"></ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">
                    From using Promise
                </div>
                <div class="card-body">
                    <ul>
                        <li><strong>Name: </strong>{{objectPromise.name}}</li>
                        <li><strong>Age: </strong>{{objectPromise.age}}</li>
                        <li><strong>Country: </strong>{{objectPromise.country}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-header">
                From using string [Bharat Mata Ki Jai]
            </div>
            <div class="card-body">
                <ul id="elContainer3"></ul>
            </div>
        </div>
    </div>
</div>
