<div class="my-3">
    <h2>Interval/Timer</h2>
    

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Stream Data(Interval)
                    <p>Interval() has only one argument that is interval in milisecond</p>
                </div>
                <div class="card-body">
                    <ul id="elContainer"></ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Stream Data(Timer)
                    <p>Timer() has two argument first is delay and second is interval in milisecond</p>
                </div>
                <div class="card-body">
                    <ul id="elContainer2"></ul>
                </div>
            </div>
        </div>
    </div>
</div>