<div class="row">
    <div class="col col-sm-3">
        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Form Event</h5>
              <a routerLink="observable/fromevent" class="btn btn-primary">Click</a>
            </div>
          </div>
    </div>
    <div class="col col-sm-3">
        <div class="card text-center" >
            <div class="card-body">
              <h5 class="card-title">Interval</h5>
              <a routerLink="observable/interval" class="btn btn-primary">Click</a>
            </div>
          </div>
    </div>
    <div class="col col-sm-3">
        <div class="card text-center" >
            <div class="card-body">
              <h5 class="card-title">Map Operator</h5>
              <a routerLink="observable/map" class="btn btn-primary">Click</a>
            </div>
          </div>
    </div>
    <div class="col col-sm-3">
        <div class="card text-center" >
            <div class="card-body">
              <h5 class="card-title">Of Operator</h5>
              <a routerLink="observable/of" class="btn btn-primary">Click</a>
            </div>
          </div>
    </div>
</div>

