<div class="my-3">
    <h2>Of Operator</h2>
    <p>Converts the arguments to an observable sequence</p>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Of(Anand, Shukla, Mihir, Soni, Ajay, Marathi)
                </div>
                <div class="card-body">
                    <ul id="elContainer"></ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">
                    Of &#123; a: Anand, b: Shukla, c: Mihir, d:Soni, e:Ajay, g:Marathi &#125;
                </div>
                <div class="card-body">
                    <ul id="elContainer2">
                        <li><strong>a: </strong>{{objMsg.a}}</li>
                        <li><strong>b: </strong>{{objMsg.b}}</li>
                        <li><strong>c: </strong>{{objMsg.c}}</li>
                        <li><strong>d: </strong>{{objMsg.d}}</li>
                        <li><strong>e: </strong>{{objMsg.e}}</li>
                        <li><strong>g: </strong>{{objMsg.g}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>