<div class="my-3">
    <h2>Map Operator</h2>
    <p> Map operator is used to transform the stream data</p>

    <div class="row">
         <!-- example 01 -->
        <div class="col">
            <div class="card">
                <div class="card-header">
                   <strong>Map: </strong> Video + data
                </div>
                <div class="card-body">
                    <p class="text-success"><strong>{{msg1}}</strong></p>
                </div>
            </div>
        </div>
        <!-- example 02 -->
        <div class="col">
            <div class="card">
                <div class="card-header">
                   <strong>Map: </strong> 10 + data
                </div>
                <div class="card-body">
                    <p class="text-success"><strong>{{msg2}}</strong></p>
                </div>
            </div>
        </div>
        <!-- example 03 -->
        <div class="col">
            <div class="card">
                <div class="card-header">
                   <strong>Map: </strong> 20 x data
                </div>
                <div class="card-body">
                    <p class="text-success"><strong>{{msg3}}</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

